.container {
    padding: 20px;
    margin-left: 200px;


}

.col-sm-9 {
    text-align: justify;
    width: 85%;
    margin-left: 150px;

}

.sd {
    text-align: center;
    text-decoration: underline;

}

.sr {
    text-decoration: underline;

}

.ps {
    text-align: justify;
    padding: 5px;
    font-weight: 500;
    font-display: inherit;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 100;
    background-image: url('');
    background-size: cover;
    background-position: center;
    margin-left: 150px;


}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 50px;
    margin-left: 650px;
    margin-bottom: 200px;
    margin-right: 100px;
    

}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #00ffc8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: cadetblue;
}